<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<main id="main_app">
    {#inculde menu block#}
    {#inculde header block#}

    <div class="main-content">
        {% block body %}{% endblock %}

    </div>
    {#inculde footer block#}

</main>
{#<script type="text/javascript" src="{{ asset('./assets/js/site.js') }}" async></script>#}

</body>

</html>
