<!DOCTYPE html>
<html lang="en" class="no-js">
{#inculde head block#}
{#{{ include('head.html.twig') }}#}

<body>

<main id="main_app">
    {#inculde menu block#}
    {#inculde header block#}

    <div class="main-content">
        {% block main %}{% endblock %}

    </div>
    {#inculde footer block#}

</main>
{#<script type="text/javascript" src="{{ asset('./assets/js/site.js') }}" async></script>#}

</body>

</html>
